

.proTipContainer {
    border: 1px dashed var(--primary);
    width:80%;
    margin-bottom: 20px;
}

.proTipHeaderContainer {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.proTipHeader {
    background-color: var(--primary);
    color: var(--text);
    font-family: 'MadeTommy', Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
    padding: 5px 10px;
    border-radius:10px;
    margin-bottom: 10px;
}

.proTipContent {
    font-family: "Retroica","Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    padding: 0 5px 5px 5px;
    line-height: 18px;
}
.proTipSubContent {
    font-family: "Retroica","Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    padding: 0 5px 5px 5px;
    line-height: 18px;
}